body{
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    font-family: 'Rubik', sans-serif; 
}

.container-0{
    background-image: url(./images/slider1-1.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 7rem;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    z-index: 1;
    transition: 0.4s;
}

.header.scrolled {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 16px 50px;
    z-index: 12;
}

.header-left{
    display: flex;
    gap: 30px;
}

.header-menu ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
    font-size: 17px;
    padding: 10px 10px;
}

.header-menu a{
    text-decoration: none;
    color: rgb(87, 0, 128);
    cursor: pointer;
}

.header-menu a:hover{
    color: white;
}

.header-menu a:hover::after {
    content: "";
    display: block;
    height: 3px;
    background-color: #3498db; 
    position: relative;
    bottom: -8px; 
  }

.header.scrolled .header-menu a{
    color: black;
}


.get-in-touch{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #12367a;
    border-radius: 25px;
    font-weight: 500;
    padding: 0px 20px;
    cursor: pointer;
}

.get-in-touch:hover{
    background-color: #12367a;
    color: white;
    font-weight: 400;
}

header.scrolled .get-in-touch{
    background-color: #12367a;
    color: white;
    font-weight: 400;
}

.container-1{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.content-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
    padding: 40px 40px;
    padding-top: 110px;
    padding-left: 160px;
    width: 45%;
}

.c1-heading{
    font-size: small;
    color: white;
}

.c1-quality{
    color: white;
    font-weight: bold;
    font-size: 35px;
}

.c1-solutions{
    color: rgb(81, 178, 255);
    font-weight: bold;
    font-size: 35px;
}

.c1-para{
    font-size: small;
    color: white;
    padding-bottom: 17px;
}

.c1-discover{
    border: 0.5px solid white;
    border-radius: 20px;
    color: white;
    padding: 5px 10px;
    font-size: small;
    cursor: pointer;
}

.img-1{
    position: relative;
}

.blocks-img{
    position: relative;
    width: 655px;
    z-index: 1;
    top: -50px;
}

.longblock-1{
    position: absolute;
    left: -35px;
    bottom: 88px;
    width: 52px;
    height: 220px;
    z-index: 2;
}

.longblock-2{
    position: absolute;
    bottom: 304px;
    left: 508px;
    width: 50px;
}

.longblock-3{
    position: absolute;
    bottom: 259px;
    left: 113px;
    width: 65px;
}

.sheild-1{
    position: absolute;
    left: 4px;
    bottom: 389px;
    width: 85px;
    height: 130px;
    z-index: 2;
}

.sheild-2{
    position: absolute;
    left: 511px;
    bottom: 531px;
    width: 45px;
    z-index: 2;
}

.laptop{
    position: absolute;
    left: 235px;
    bottom: 375px;
    width: 200px;
    height: 200px;
    z-index: 3;
}

.laptop-2{
    position: absolute;
    left: 192px;
    bottom: 324px;
    width: 320px;
    height: 210px;
    z-index: 2;
}

.laptop-3{
    position: absolute;
    left: 199px;
    bottom: 469px;
    width: 250px;
    height: 120px;
    z-index: 2;
}

.laptop-4{
    position: absolute;
    left: 399px;
    bottom: 429px;
    height: 80px;
    z-index: 4;
}

.right-light{
    position: absolute;
    left: 575px;
    bottom: 424px;
    height: 220px;
    z-index: 2;
}

.man-laptop{
    position: absolute;
    left: 83px;
    bottom: 263px;
    width: 125px;
    z-index: 2;
}

.lower-block-man{
    position: absolute;
    left: 472px;
    bottom: 238px;
    height: 100px;
    z-index: 2;
}

.lower-block-light{
    position: absolute;
    left: 455px;
    bottom: 239px;
    height: 146px;
    z-index: 3;
}

.container-2{
    display: flex;
    padding: 30px 50px;
    justify-content: center;
    align-items: center;
    max-width: 85%;
    margin: 0 auto;
}

.img-2{
    width: 100%;
}

.about-img{
    height: 530px;
    width: 560px;
}

.content-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 20px;
}

.heading-content2{
    font-size: 50px;
}

.caption-content2{
    font-size: 20px;
    color: #1487e3;
    position: relative;
    margin-left: 40px;
}

.caption-content2::before{
    content: "";
    position: absolute;
    left: -15%;
    top: 50%;
    width: 70px;
    height: 2px;
    background-color: #1487e3;
}

.para-content2{
    font-weight: lighter;
    color: rgb(99, 99, 99);
    padding: 25px 0px;
    line-height: 1.7;
}

.more-about-button{
    outline: none;
    color: #ffffff;
    border: none;
    background-color: #2e7ee5;
    background-image: linear-gradient(to left, #2e7ee5 0%, #79cce4 0%, #2e7ee5 100%);
    transition: all .2s ease-in-out;
    cursor: pointer;
    padding: 12px 25px;
    border-radius: 25px;
    font-weight: bold;
    font-size: medium;
}

.more-about-button:hover{
    background-image: linear-gradient(to right, #2e7ee5 0%, #79cce4 0%,#2e7ee5 100%);
}

.container-3{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.content-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.heading1-content3{
    color: #1487e3;
}

.heading2-content3{
    font-size: 40px;
}

.all-services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 100%;
    padding-top: 30px;
}

.service-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 30%;
    gap: 20px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgb(204, 203, 203);
    height: 250px;
    border: 0.3px solid rgb(230, 227, 227);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.service-content:hover{
    background-color: #1487e3;
    color: white;
}

.caption-service{
    font-size: 20px;
}

.container-4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px 30px;
    margin-top: 20px;
    width: 100%;
}

.process-img{
    width: 100%;
    height: 662px;
    margin-top: -50px;
}

.content-4{
    font-size: 30px;
    line-height: 1.5;
}

.content-4 strong{
    color: #1487e3;
   
}

.container-5{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding-top: 50px;
}

.content-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.heading1-content5{
    color: #1487e3;
    font-weight: bold;
    font-size: large;
}

.heading2-content5{
    font-size: 40px;
}

.application-categories{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    gap: 50px;
}

.app-cat{
    border: 2px solid #1487e3;
    color: #1487e3;
    padding: 10px 30px;
    border-radius: 25px;
    align-items: center;
    display: flex;
    font-weight: bold;
}

.app-col{
    display: flex;
    flex-direction: column;
}

.app-img{
    padding-top:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-5{
    height: 80px;
    width: 80px;
}