body{
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    font-family: 'Rubik', sans-serif; 
}

.container-0{
    background-image: url(./images/slider1-1.png);
    background-size: cover;
    background-position: cover;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-bottom: 7rem;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    z-index: 1;
    transition: 0.4s;
}

.header.scrolled {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 16px 50px;
    z-index: 12;
}

.header-left{
    display: flex;
    gap: 30px;
    width: 80%;
}

.header-menu ul{ 
    display: flex;
    list-style-type: none;
    gap: 30px;
    font-size: 17px;
    padding: 10px 10px;
}

.header-menu a{
    text-decoration: none;
    color: rgb(87, 0, 128);
    cursor: pointer;
}

.header-menu a:hover{
    color: white;
}

.header-menu a:hover::after {
    content: "";
    display: block;
    height: 3px;
    background-color: #3498db; 
    position: relative;
    bottom: -8px; 
  }

.header.scrolled .header-menu a{
    color: black;
}


.get-in-touch{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #12367a;
    border-radius: 25px;
    font-weight: 500;
    padding: 0px 20px;
    cursor: pointer;
}

.get-in-touch:hover{
    background-color: #12367a;
    color: white;
    font-weight: 400;
}

header.scrolled .get-in-touch{
    background-color: #12367a;
    color: white;
    font-weight: 400;
}

.container-1{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.content-1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
    padding: 40px 40px;
    padding-top: 110px;
    padding-left: 160px;
    width: 45%;
}

.c1-heading{
    font-size: small;
    color: white;
}

.c1-quality{
    color: white;
    font-weight: bold;
    font-size: 35px;
}

.c1-solutions{
    color: rgb(81, 178, 255);
    font-weight: bold;
    font-size: 35px;
}

.c1-para{
    font-size: small;
    color: white;
    padding-bottom: 17px;
}

.c1-discover{
    border: 0.5px solid white;
    border-radius: 20px;
    color: white;
    padding: 5px 10px;
    font-size: small;
    cursor: pointer;
}

.img-1{
    position: relative;
}

.blocks-img{
    position: relative;
    width: 655px;
    z-index: 1;
    top: -50px;
}

.longblock-1{
    position: absolute;
    left: -35px;
    bottom: 88px;
    width: 52px;
    height: 220px;
    z-index: 2;
}

.longblock-2{
    position: absolute;
    bottom: 304px;
    left: 508px;
    width: 50px;
}

.longblock-3{
    position: absolute;
    bottom: 259px;
    left: 113px;
    width: 65px;
}

.sheild-1{
    position: absolute;
    left: 4px;
    bottom: 389px;
    width: 85px;
    height: 130px;
    z-index: 2;
}

.sheild-2{
    position: absolute;
    left: 511px;
    bottom: 531px;
    width: 45px;
    z-index: 2;
}

.laptop{
    position: absolute;
    left: 235px;
    bottom: 375px;
    width: 200px;
    height: 200px;
    z-index: 3;
}

.laptop-2{
    position: absolute;
    left: 192px;
    bottom: 324px;
    width: 320px;
    height: 210px;
    z-index: 2;
}

.laptop-3{
    position: absolute;
    left: 199px;
    bottom: 469px;
    width: 250px;
    height: 120px;
    z-index: 2;
}

.laptop-4{
    position: absolute;
    left: 399px;
    bottom: 429px;
    height: 80px;
    z-index: 4;
}

.right-light{
    position: absolute;
    left: 575px;
    bottom: 424px;
    height: 220px;
    z-index: 2;
}

.man-laptop{
    position: absolute;
    left: 83px;
    bottom: 263px;
    width: 125px;
    z-index: 2;
}

.lower-block-man{
    position: absolute;
    left: 472px;
    bottom: 238px;
    height: 100px;
    z-index: 2;
}

.lower-block-light{
    position: absolute;
    left: 455px;
    bottom: 239px;
    height: 146px;
    z-index: 3;
}

.container-2{
    display: flex;
    padding: 30px 50px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    position: relative;
    flex-basis: 50%;
}

.container-2::after{
    content: url(./images/about-bg.png);
    position: absolute;
    right: -41px;
    bottom: -60px;
    transform: scale(0.6);
}

.img-2{
    height: auto;
    width: 42.5%;
}

.about-img{
    height: auto;
    width: 100%;
}

.content-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 20px;
    width: 42.5%;
    position: relative;
    right: 0;
}

.heading-content2{
    font-size: 50px;
}

.caption-content2{
    font-size: 20px;
    color: #1487e3;
    position: relative;
    margin-left: 40px;
}

.caption-content2::before{
    content: "";
    position: absolute;
    left: -15%;
    top: 50%;
    width: 70px;
    height: 2px;
    background-color: #1487e3;
}

.para-content2{
    font-weight: lighter;
    color: rgb(99, 99, 99);
    padding: 25px 0px;
    line-height: 1.7;
}

.more-about-button{
    outline: none;
    color: #ffffff;
    border: none;
    background-color: #2e7ee5;
    background-image: linear-gradient(to left, #2e7ee5 0%, #79cce4 0%, #2e7ee5 100%);
    transition: all .2s ease-in-out;
    cursor: pointer;
    padding: 12px 25px;
    border-radius: 25px;
    font-weight: bold;
    font-size: medium;
}

.more-about-button:hover{
    background-image: linear-gradient(to right, #2e7ee5 0%, #79cce4 0%,#2e7ee5 100%);
}

.container-3{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.content-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.heading1-content3{
    color: #1487e3;
}

.heading2-content3{
    font-size: 40px;
}

.all-services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 100%;
    padding-top: 30px;
}

.service-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 30%;
    gap: 20px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgb(204, 203, 203);
    height: 250px;
    border: 0.3px solid rgb(230, 227, 227);
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.service-content:hover{
    background-color: #1487e3;
    color: white;
}

.caption-service{
    font-size: 20px;
}

.container-4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px 30px;
    margin-top: 20px;
    width: 100%;
}

.process-img{
    width: 100%;
    height: 662px;
    margin-top: -50px;
}

.content-4{
    font-size: 30px;
    line-height: 1.5;
}

.content-4 strong{
    color: #1487e3;
   
}

.container-5{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding-top: 50px;
    position: relative;
}

.application-categories::after{
    content: url(./images/circle-2.png);
    position: absolute;
    right: -12px;
    bottom:-20px;
    transform: scale(0.8);
}

.application-categories::before{
    content: url(./images/circle1.png);
    position: absolute;
    left: -30px;
    top: 140px;
    transform: scale(0.7);
}

.content-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.heading1-content5{
    color: #1487e3;
    font-weight: bold;
    font-size: large;
}

.heading2-content5{
    font-size: 40px;
}

.application-categories{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    gap: 50px;
}

.app-cat{
    border: 2px solid #1487e3;
    color: #1487e3;
    padding: 10px 30px;
    border-radius: 25px;
    align-items: center;
    display: flex;
    font-weight: bold;
}

.app-col{
    display: flex;
    flex-direction: column;
}

.app-img{
    padding-top:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-5{
    height: 80px;
    width: 100%;
    object-fit: contain;
}

.container-6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 70px ;
    padding-bottom: 50px;
}
.content-6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.heading-content6{
    font-size: 40px;
}

.para-content6{
    font-weight: lighter;
    color: rgb(99, 99, 99);
    padding: 25px 0px;
    line-height: 1.7;
    text-align: center;
    width: 65%;
}

.view-proj-button{
    outline: none;
    color: #ffffff;
    border: none;
    background-color: #2e7ee5;
    background-image: linear-gradient(to left, #2e7ee5 0%, #79cce4 0%, #2e7ee5 100%);
    transition: all .2s ease-in-out;
    cursor: pointer;
    padding: 12px 25px;
    border-radius: 25px;
    font-weight: bold;
    font-size: medium;
}

.view-proj-button:hover{
    background-image: linear-gradient(to right, #2e7ee5 0%, #79cce4 0%,#2e7ee5 100%);
}

.slider-images {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding-top: 50px;
  }

  .slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
  }

  .slide {
    flex: 0 0 100%;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }

  .slider-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0 60px;
  }

  .slider-buttons button {
    cursor: pointer;
    border: none;
  }
  
  .prev-button {
    background: url(./images/Click-Area.png) no-repeat center;
    background-size: contain;
    height: 50px;
    width: 5%;
  }

  .next-button {
    background: url(./images/Click-Area.png) no-repeat center;
    background-size: contain;
    height: 50px;
    width: 5%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .container-7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./images/team-bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 150px;
    padding-bottom: 100px;
  }

  .heading-content7{
    font-size: 40px;
    text-align: center;
    color: white;
}

.para-content7{
    font-weight: lighter;
    padding: 25px 0px;
    line-height: 1.7;
    text-align: center;
    color: white;
}

.team-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3%;
}

.team-buttons button {
    cursor: pointer;
    border: none;
    background: none;
}

.team-button1 {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.team-info{
    display: flex;
    gap: 20px;
    padding: 20px;
}

.team-member{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 30px 20px;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.member-pic{
    height: 30%;
}

.member-pic img{
    height: 100px;
    max-width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.member-info{
    text-align: center;
    height: 80%;
    padding-top: 20px;
}

.member-info p{
    padding-top: 20px;
    color: rgb(97, 96, 96);
    line-height: 1.7;
    font-weight: 100;
}

.member-info .title{
    height: 20%;
}

.container-8{
    padding-top: 50px ;
}

.content-8{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.heading1-content8{
    color: #1487e3;
}

.heading2-content8{
    font-size: 40px;
}

.testimony-all{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.testimony{
    background-color: rgba(0, 0, 0, 0.02);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    border-radius: 20px;
}

.testimony-content{
    padding: 10px;
    line-height: 2;
 
}

.testimony-content::after{
    content: url(./images/Quotes.png);
    position: absolute;
    top: 10px;
    right: 15px;
}
.testimony-content p{
    color: rgb(105, 105, 104);
}

.testimony-content h5{
    color: rgb(105, 105, 104);
    font-weight: lighter;
}

.testi-img{
    width: 220px;
    height: 230px;
    padding: 7px;
}

.testimony-buttons{
    display: flex;
    justify-content: center;
    gap: 200px;
    margin-top: 10px;
}

.testi-buttons{
    color: blue;
    border: none;
    background: none;
    cursor: pointer;
}

.container-9{
    margin-top: 50px;
}

.content-9{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.heading-content9{
    font-size: 40px;
}

.client{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    max-width: 100%;
    padding: 30px 30px;
}

.client-logo{
    flex-basis: 23%;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(205, 204, 204);
}

.client-img{
    height: auto;
    width: 100%;
}

.container-10{
    margin-top: 50px;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/contact-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.content-10{
    height: auto;
    width: 42%;
    padding: 100px 20px;
}

.heading-content10{
    font-size: 40px;
    text-align: center;
    color: white;
}

.para-content10{
    font-weight: lighter;
    padding: 25px 0px;
    line-height: 1.7;
    text-align: center;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select, textarea {
    border: none;
    border-radius: 30px;
    padding: 18px 15px;
    font-size: 16px;
    background-color: #f5f5f5;
    outline: none;
    color: #666565;
    margin-bottom: 15px;
}

textarea{
    resize: none;
}


input:focus, select:focus, textarea:focus {
    background-color: #e2f2fd;
}


form button {
    background-color: #2e7ee5;
    background-image: linear-gradient(to left, #2e7ee5 0%, #79cce4 0%, #2e7ee5 100%);
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 18px 15px;
    font-size: 16px;
    cursor: pointer;
}

footer{
    background-image: url(./images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container-11{
    display: flex;
    padding: 80px 20px;
}

.footer-logo{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 8px;
    width: 37%;
}

.footer-logo-caption{
    font-weight: 100;
}

.content-11{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 25px;
    width: 60%;
}

.contact-content11 a{
    text-decoration: none;
    color: white;
    line-height: 1.7;
    font-weight: 100;
}

.address-content11{
    line-height: 1.7;
    font-weight: 100;
}

header .fa-solid{
    display: none;
}

.getInTouch-menu{
    display: none;
}

.hidden-menu-bar{
    display: none;
}

@media(max-width: 767px){
    .container-0{
        background-position: 50%;
        padding-bottom: 170px;
    }

    .container-7{
        background-position: 50%;
    }


    .header-menu{
        display: none;
    }

    .hidden-menu-bar {
        display: block;
        position: fixed;
        top: 0;
        right: -200px;
        height: 100%;
        width: 200px;
        background: #000000;
        transition: right 0.3s ease-in-out;
        overflow-y: auto;
    }
    
    .hidden-menu-bar ul {
        list-style: none;
        padding: 50px 20px;
    }
    
    .hidden-menu-bar li {
        margin-bottom: 10px;
    }
    
    .hidden-menu-bar a {
        text-decoration: none;
        color: #777676;
        font-size: 18px;
    }
    
    .menu-bars i{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        color: rgb(46, 104, 213);
        font-size: 23px;
    }
    
    #headerMenu .fa-solid{
      position: absolute;
      right: 10px;
      top: 10px;
      color: #515050;
      font-size: 25px;
    }

    .company-logo{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header{
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }

    .get-in-touch{
        display: none;
    }

    .getInTouch-menu{
        display: block;
        position: relative;
        top: 30px;
        left: 30px;
    }

    .get-in-touch-2{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: #2c63c9;
        border-radius: 10px;
        font-weight: bold;
        padding: 10px 30px;
        cursor: pointer;
        border: none;
        margin: 20px 0px;
    }

    .container-1{
        display: flex;
        flex-direction: column-reverse;
    }

    .blocks-img{
        width: 100%;
    }

    .longblock-1{
        display: none;
    }
    
    .longblock-2{
        position: absolute;
        left: 77%;
        bottom: 58%;
        width: 6%;
    }
    
    .longblock-3{
        position: absolute;
        bottom: 48%;
        left: 18%;
        width: 10%;
    }
    
    .sheild-1{
        position: absolute;
        left: 0.5%;
        bottom: 73%;
        width: 13%;
        height: 20%;
        z-index: 2;
    }
    
    .sheild-2{
        position: absolute;
        left: 77%;
        bottom: 89%;
        width: 5.5%;
        z-index: 2;
    }
    
    .laptop{
        position: absolute;
        left: 35%;
        bottom: 70%;
        width: 30%;
        height: 35%;
        z-index: 3;
    }
    
    .laptop-2{
        position: absolute;
        left: 27%;
        bottom: 63%;
        width: 50%;
        height: 35%;
        z-index: 2;
    }
    
    .laptop-3{
        position: absolute;
        left: 30%;
        bottom: 90%;
        width: 40%;
        height: 20%;
        z-index: 2;
    }
    
    .laptop-4{
        position: absolute;
        left: 59%;
        bottom: 77%;
        height: 20%;
        z-index: 4;
    }
    
    .right-light{
        position: absolute;
        left: 89%;
        bottom: 79%;
        height: 35%;
        z-index: 2;
    }
    
    .man-laptop{
        position: absolute;
        left: 12.5%;
        bottom: 51%;
        width: 19%;
        z-index: 2;
    }
    
    .lower-block-man{
        position: absolute;
        left: 67%;
        bottom: 48%;
        height: 22%;
        z-index: 2;
    }
    
    .lower-block-light{
        position: absolute;
        left: 64.5%;
        bottom: 48%;
        height: 30%;
        z-index: 3;
    }

    .content-1{
        width: 100%;
        padding: 0px 39px;
        gap: 8px;
    }

    .c1-bigfonts p{
        font-size: 30px;
        font-weight: lighter;
    }

    .c1-para{
        font-size: 12px;
    }

    .img-2{
        width: 100%;
    }

    .content-2{
        width: 100%;
        padding-top: 50px;
    }

    .heading-content2{
        font-size: 20px;
    }

    .caption-content2{
        font-size: 15px;
    }

    .para-content2{
        font-size: 15px;
        font-weight: lighter;
        line-height: 1.5;
        color: rgb(90, 90, 90);
    }

    .caption-content2::before{
        left: -33%
    }

    .container-2{
        display: block;
    }

    .container-2::after{
        transform: scale(0.5);
        right: -51px;
        height: 400px;
    }

    .container-3{
        padding-top: 100px;
    }

    .heading1-content3{
        font-size: 15px;
    }

    .heading2-content3{
        font-size: 27px;
    }

    .all-services{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .service-content{
        width: 80%;
        padding: 20px 0px;
    }

    .container-4{
        padding-top: 80px;
    }

    .content-4 h2{
        font-size: 30px;
        padding-top: 10px;
        font-weight: lighter;
    }

    .process-img{
        height: 200px;
        width: 100%;
        margin-top: 10px;
    }

    .application-categories::before{
        display: none;
    }

    .application-categories::after{
        display: none;
    }

    .heading1-content5{
        font-size: 15px;
    }

    .heading2-content5{
        font-size: 30px;
        text-align: center;
        color: rgb(67, 67, 67);
    }

    .application-categories{
        display: flex;
        flex-wrap: wrap;
    }

    .heading-content6{
        font-size: 30px;
        font-weight: lighter;
    }
    .para-content6{
        font-size: 15px;
        width: 85%;
        font-weight: lighter;
        line-height: 1.5;
        color: gray;
    }

    .slider{
        margin: 20px 20px
    }

    .prev-button, .next-button{
        width: 30px;
    }

    .team-info{
        display: flex;
        flex-wrap: wrap;
    }

    .heading1-content8{
        font-size: 15px;
    }

    .heading2-content8{
        font-size: 30px;
        width: 90%;
        text-align: center;
        color: rgb(67, 67, 67);
    }

    .testimony{
        display: flex;
        flex-direction: column;
        width: 55%;
    }

    .container8-img{
        display: flex;
        justify-content: center;
    }

    .testi-img {
        width: 55%;
        height: 55%;
        margin-top: 35px;
    }

    .testimony-content{
        font-size: 15px;
    }

    .testimony-buttons{
        gap:100px;
    }

    .heading-content9{
        font-size: 30px;
    }

    .client{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .content-10{
        width: 95%;
    }

    .container-10-form{
        width: 95%;
    }

    .heading-content10{
        font-size: 30px;
        font-weight: lighter;
    }

    .para-content10{
        font-weight: lighter;
        width: 100%;
    }

    .container-11{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .content-11{
        gap: 7px;
    }
}

@media (min-width:768px) and (max-width:992px){
    .header-menu{
        display: none;
    }

    .hidden-menu-bar {
        display: block;
        position: fixed;
        top: 0;
        right: -200px;
        height: 100%;
        width: 200px;
        background: #000000;
        transition: right 0.3s ease-in-out;
        overflow-y: auto;
    }
    
    .hidden-menu-bar ul {
        list-style: none;
        padding: 50px 20px;
    }
    
    .hidden-menu-bar li {
        margin-bottom: 10px;
    }
    
    .hidden-menu-bar a {
        text-decoration: none;
        color: #777676;
        font-size: 18px;
    }
    
    .menu-bars i{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        color: rgb(46, 104, 213);
    }
    
    #headerMenu .fa-solid{
      position: absolute;
      right: 10px;
      top: 10px;
      color: #515050;
    }

    .company-logo{
        width: 100%;
        display: flex;
        justify-content: center;
    }
   

    .header{
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
    }

    .get-in-touch{
        display: none;
    }

    .getInTouch-menu{
        display: block;
        position: relative;
        top: 30px;
        left: 30px;
    }

    .get-in-touch-2{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: #2c63c9;
        border-radius: 10px;
        font-weight: bold;
        padding: 10px 30px;
        cursor: pointer;
        border: none;
    }

    .blocks-img{
        width: 100%;
        top: 30%

    }

    .longblock-1{
        display: none;
    }
    
    .longblock-2{
        position: absolute;
        left: 77%;
        bottom: 35%;
        width: 6%;
    }
    
    .longblock-3{
        position: absolute;
        bottom: 25%;
        left: 18%;
        width: 10%;
    }
    
    .sheild-1{
        position: absolute;
        left: 0.5%;
        bottom: 42%;
        width: 13%;
        height: 20%;
        z-index: 2;
    }
    
    .sheild-2{
        position: absolute;
        left: 77%;
        bottom: 56.5%;
        width: 5.5%;
        z-index: 2;
    }
    
    .laptop{
        position: absolute;
        left: 36%;
        bottom: 39%;
        width: 30%;
        height: 27%;
        z-index: 3;
    }
    
    .laptop-2{
        position: absolute;
        left: 27%;
        bottom: 34%;
        width: 50%;
        height: 30%;
        z-index: 2;
}
    
    
    .laptop-3{
        position: absolute;
        left: 30%;
        bottom: 52%;
        width: 40%;
        height: 18%;
        z-index: 2;
    }
    
    .laptop-4{
        position: absolute;
        left: 59%;
        bottom: 45%;
        height: 15%;
        z-index: 4;
    }
    
    .right-light{
        position: absolute;
        left: 84%;
        bottom: 45%;
        height: 35%;
        z-index: 2;
    }
    
    .man-laptop{
        position: absolute;
        left: 12.5%;
        bottom: 27%;
        width: 19%;
        z-index: 2;
    }
    
    .lower-block-man{
        position: absolute;
        left: 67%;
        bottom: 25%;
        height: 16%;
        z-index: 3;
    }
    
    .lower-block-light{
        position: absolute;
        left: 65%;
        bottom: 25%;
        height: 21%;
        z-index: 3;
    }

    .content-1{
        width: 100%;
    }

    .img-2{
        width: 50%;
    }

    .content-2{
        width: 40%;
    }

    .heading-content2{
        font-size: 27px;
    }

    .caption-content2{
        font-size: 20px;
    }

    .para-content2{
        font-size: 15px;
    }

    .caption-content2::before{
        left: -33%
    }

    .container-2::after{
        transform: scale(0.5);
        right: -51px;
        bottom: -70px;
        height: 450px;
    }

    .container-3{
        padding-top: 70px;
    }

    .heading1-content3{
        font-size: 20px;
    }

    .heading2-content3{
        font-size: 35px;
    }

    .all-services{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .service-content{
        flex-basis:30% ;
        width: 100%;
        padding: 20px 0px;
    }

    .container-4{
        padding-top: 100px;
    }

    .content-4 h2{
        font-size: 35px;
    }

    .process-img{
        height: 450px;
        width: 100%;
    }

    .application-categories::before{
        display: none;
    }

    .application-categories::after{
        display: none;
    }

    .heading1-content5{
        font-size: 20px;
    }

    .heading2-content5{
        font-size: 40px;
        text-align: center;
        color: rgb(67, 67, 67);
    }

    .application-categories{
        display: flex;
        flex-wrap: wrap;
    }


    .heading-content6{
        font-size: 40px;
    }
    .para-content6{
        font-size: 15px;
        width: 85%;
    }

    .slider{
        margin: 20px 20px
    }

    .prev-button, .next-button{
        width: 50px;
    }

    .team-info{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .team-member{
        flex-basis: 45%;
    }

    .heading1-content8{
        font-size: 20px;
    }

    .heading2-content8{
        font-size: 40px;
        width: 90%;
        text-align: center;
        color: rgb(67, 67, 67);
    }

    .testimony{
        display: flex;
        width: 50%;
    }

    .container8-img{
        display: flex;
        justify-content: center;
    }


    .testimony-content{
        font-size: 10px;
    }

    .testimony-buttons{
        gap: 150px;
    }

    .heading-content9{
        font-size: 40px;
    }

    .container-9{
        padding-top: 50px;
    }

    .client{
        display: flex;
        flex-wrap: wrap;
        padding-top: 40px;
    }

    .client-logo{
        flex-basis: 20%;
    }

    .content-10{
        width: 45%;
    }

    .content-11{
        gap: 15px;
    }
}